<div class="contenedor">
    <div class="izquierda">
        <img class="ImgIniSesion" src="Imagenes/InicioSesion.webp" alt="InisioSesion">
    </div>


    <div class="derecha">

        <p class="textPrincipal"> Regístrate y comienza a aprender</p>

        <form [formGroup]="formularioRegistro" (ngSubmit)="onSubmit()">


            <div class="input-container">
                <input class="InputNombre" type="text" placeholder="Nombre completo" type="text" id="correo" formControlName="nombre">
                <label for="nombre"> Nombre Completo</label>
            </div>
           
            <!-- Validación -->
            <div *ngIf="formularioRegistro.get('nombre')?.invalid && formularioRegistro.get('nombre')?.touched">
                <p *ngIf="formularioRegistro.get('nombre')?.errors?.['required']">El nombre es obligatorio</p>
                <p *ngIf="formularioRegistro.get('nombre')?.errors?.['pattern']">El nombre solo puede contener letras</p>
            </div>


            <div class="input-container">
                <input class="InputCorreo" type="text" placeholder="Correo electrónico" type="text" id="correo"  formControlName="email">
                <label for="correo"> Correo electrónico</label>
            </div>

           
            <!-- Validación -->
            <div *ngIf="formularioRegistro.get('email')?.invalid && formularioRegistro.get('email')?.touched">
                <p *ngIf="formularioRegistro.get('email')?.errors?.['required']">El correo es obligatorio</p>
                <p *ngIf="formularioRegistro.get('email')?.errors?.['email']">Ingrese un correo electrónico válido</p>
            </div>            
            
            
            <div class="input-container">
                <input class="InputPassword" type="text" placeholder="Contraseña"  type="text" id="password" formControlName="password">
                <label for="password"> Contraseña</label>
            </div>

            
            
            <!-- Validación -->
            <div *ngIf="formularioRegistro.get('password')?.invalid && formularioRegistro.get('password')?.touched">
                <p *ngIf="formularioRegistro.get('password')?.errors?.['required']">Contraseña obligatoria</p>
                <p *ngIf="formularioRegistro.get('password')?.errors?.['minlength']">La contraseña debe tener mínimo 8 caracteres</p>
            </div>              
            
            
            <button class="btnRegistrarse" type="submit" [disabled]="formularioRegistro.invalid">Registrarse</button>
                <!-- <p>Registrarse</p> -->
        </form>

        <div class="terminosCondiciones">
            <p> Al registrarse, aceptas nuestras <a href="">Condiciones de uso </a> y nuestras <a href="">Política de privacidad</a></p>
        </div>

        <button class="btnIniciar">
            <p>¿Ya tienes una cuenta? <a href="../iniciar-sesion/iniciar-sesion.component.html">Iniciar sesión</a></p>
        </button>

    </div>
</div>