<p>Holiii</p>

<div class="contenedor">
    <div class="izquierdo">
        <img src="" alt="ImagenUsuario">
        <p> {{ nombre }}</p>
        <p> {{ apellido }}</p>
        <!-- traigo dato de BD agregados en Nombre -->

        <p class="pMenu">Mi perfil</p>
        <p class="pMenu">Mis cursos</p>
        <p class="pMenu">Cerrar centa</p>
    </div>

    <div class="derecho">
        <div class="cabecera">
            <h2>Perfil público</h2>
            <h6>Añade información sobre ti</h6>
        </div>

        <div class="informacion">
            <p>Información básica:</p>

            <input type="text" name="nombre" id="nombre" placeholder="Nombre">
            <!-- Trae dato guardado en BD en nombre -->
            <input type="text" name="apellido" id="apellido" placeholder="Apellido">
            <input type="text" name="titulo" id="titulo" placeholder="Titulo">
        </div>
    </div>
</div>