<!-- Falta
- Agrgar estilos
- Conectar con Backend

------------------------------
- El incio de sesión es con un código de 6 digitos

-->

<div class="contenedor">
    <div class="izquierda">
        <img class="ImgIniSesion" src="Imagenes/InicioSesion.webp" alt="InisioSesion">
    </div>
    <div class="derecha">
        <p> Inicia sesión para continuar tu experiencia de aprendizaje</p>
        <input class="InputCorreo" type="text" placeholder="Correo electrónico">
        <button class="btnCorreo">
            <mat-icon fontIcon="mail" class="buscarIcon"></mat-icon> 
            <!-- Verifica que el icono no sea delineado -->
            <p>Continuar con correo electrónico</p>
        </button>

        <div class="logos">
            <img class="logoGoogle" src="Imagenes/Google.webp" alt="Googl">
            <img class="logoFacebook" src="Imagenes/Facebook.webp" alt="Facebook">
            <img class="logoApple" src="Imagenes/Facebook.webp" alt="Facebook">
        </div>
        
        <div class="Opciones">
            <div class="Opc1">
                <p>¿No tienes una cuenta? </p>
                <p>Regístrate</p>
            </div>
            <div class="Opc2">
                <p>Iniciar sesión con tu organización</p>
            </div>
        </div>
    </div>
</div>