<!-- Partes:
 - Logo de Udemy
 - Explorar
 - Barra de buscador: lupa - /Buscar cualquier cosa
 - Udemy Businnes
 - Enseñar en Udemy
 - Logo de Carro
 - Boton de Iniciar Sesión - Blanco letra negra
 - Boton de Registrarse - Negro con letra blanca
 - Boton logo del mundo - cambia de idioma -->


 <!-- ////////////////Estrutura del menú según Angular Material -->
<div class="menu">

  <img class="Logo" src="Imagenes/Udemy_logo.png" alt="LogoImagen">

  <button mat-button [matMenuTriggerFor]="aboveMenu">Explorar</button>
  <mat-menu #aboveMenu="matMenu" yPosition="above">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
  
  <!-- Agregar barra buscadora con lupa -->
  <div class="barraBuscar">
    <div class="buscar">
      <mat-icon fontIcon="search" class="buscarIcon"></mat-icon>
      <input type="text" placeholder="Buscar cualquier cosa">
    </div>
  </div>
  
  
  <button mat-button [matMenuTriggerFor]="belowMenu">Udemy Businnes</button>
  <!-- Despliega mensaje -->
  <mat-menu #belowMenu="matMenu" yPosition="below">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
  
  <button mat-button [matMenuTriggerFor]="beforeMenu">Enseñar en Udemy</button>
  <!-- Despliega mensaje -->
  <mat-menu #beforeMenu="matMenu" xPosition="before">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
  
  <mat-icon fontIcon="shopping_cart"></mat-icon>
  
  <div class="example-button-container">
      <a mat-fab extended routerLink="/Componentes/Publico/Iniciar">
        Iniciar Sesión
      </a>
    </div>
  
    <div class="">
      <a mat-fab extended routerLink="/Componentes/Publico/Registrarse.html">
        Registrarse
      </a>
    </div>  
</div>
